<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="PickPico Preview"
        tools:replace="android:label">
        <activity
            android:name=".HumanHelpActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
